{% assign workshops = site.data.data.workshops %}
{% if workshops %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ workshops.title }}
  </h2>

  {% if workshops.intro %}
  <div class="intro">
    {{ workshops.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for workshop in workshops.papers %}
  <div class="item">
    <div class="publication-title">{{ workshop.title | markdownify }}</div>
    <div class="publication-authors">{{ workshop.authors | markdownify }}</div>
    <div class="publication-conference">{{ workshop.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
